<!DOCTYPE html>
<html id="page" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Movies</title>

</head>

<body>

    <div id="main-div">
        <h1 id="title">{{ title }}</h1>
        <form id="movie-form">
            <input placeholder="MovieName here">
            <button class="fill">Search</button>
        </form>
        <div class="content">
            <div id="para">
                <div id="imgp">
                    <p id="message-4"></p>
                    <img id="image">
                </div>
                <div id="onlyp">
                    <p id="message-1"></p>
                    <p id="message-3"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/client.js"></script>
</body>

</html>