body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  padding: 15px 25px;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  font-family: cursive;
  font-size: 25px;
  color: white;
}
h1::after {
  content: "";
  position: relative;
  top: 2px;
  left: 2px;
  width: calc(100%-4px);
  height: 50%;
}
button {
  font-size: large;
  border-radius: 10px;
  background: linear-gradient(to right, #ad80e5 0%, #0cc6c2 100%);
  color: white;
}
button:hover {
  cursor: pointer;
  background: linear-gradient(to left, #ad80e5 0%, #0cc6c2 100%);
}
#page {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}
input {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  border: black;
  font-size: large;
  color: white;
  font-family: cursive;
}
input:hover {
  background-color: #0cbaba;
  background-image: linear-gradient(135deg, #0cbaba 0%, #380036 74%);
}
p {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  color: white;
  font-size: larger;
  height: 90px;
  text-align: center;
  align-items: center;
  align-content: center;
}
p:hover {
  background-image: linear-gradient(135deg, #7f53ac 0%, #647dee 74%);
}
#imgp {
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin: 4px;
}
#image {
  display: flex;
  align-items: center;
  margin-left: 220px;
  border: none;
}
#onlyp {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}
#message-4 {
  width: fit-content;
  height: auto;
}
#message-3,
#message-1 {
  max-width: 650px;
  max-height: 100px;
  padding: 7px;
  display: center;
}
